# ==========================
# Maven
# ==========================
target/
**/target/

# ==========================
# Eclipse / STS
# ==========================
bin/
.settings/
.classpath
.project
.springBeans

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# IntelliJ
# ==========================
.idea/
*.iml

# ==========================
# Node
# ==========================
node_modules/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Local Configuration (Secrets)
# ==========================
src/main/resources/application-local.properties
.env